body{
  margin:0;
  font-family:url('../images/Font\ Family\ is\ Ropa\ Sans.rtf');
  font-size:16px;
  color: brown;
  line-height: 1.6;
}

#header{
  background-image:url('../images/hero_image_full_width.png');
}